@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --background: 187 230 223;
    --background-secondary: 169 219 209;
    --foreground: 232 144 135;
    --foreground-secondary: 236 42 30;
    --border: 152 0 46;
    --warning: 233 72 8;
    --success: 39 181 39;
    --danger: 255 0 0;
    --info: 53 53 193;
    --secondary: 255 0 0;
    --contrast: 10 10 10;
    --text: 60 33 33;

    --radius: 0.5rem;

  }
  .dark {
    --background: 83 46 99;
    --foreground: 183 146 199;
    --foreground-secondary: 125 30 30;
    --background-secondary: 152 0 46;
    --border: 52 52 52;
    --success: 39 181 39;
    --danger: 255 0 0;
    --secondary: 240 3.7% 15.9%;
    --contrast: 245 245 245;
    --text: 255 255 255;

  }

  @keyframes answerAnimation {
    10% {
      transform: scale(0.95);
      opacity: 0.85;
    }
    50% {
      transform: scale(1.05);
      opacity: .8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate {
    animation: answerAnimation 1s ease-in-out;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--foreground));
    border-radius: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(var(--background));
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--foreground));
  }

  button {
    cursor: pointer;
    border-radius: 7.5%;
    border: lightgray 0.2rem solid;
    transition: ease-in-out 0.3s;
    margin: 1rem;
    padding: 0.5rem;
    color: var(--text);
    background-color: var(--background);
  }

  button:hover {
    scale: 1.1;
  }

  /* Firefox specific */
  .scrollable-element {
    scrollbar-width: thin; /* Options: auto, thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
  }

  .smooth:hover {
    transition: .3s ease-in-out;
  }

}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md;
  }
}

@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-background text-foreground;

  }

}